<ion-content [fullscreen]="true" color="primary">
  <div style="background-color: #2dd55b;
  padding: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  height: 27vh;
  color: white;">

    <h1 style="font-size: 33px; font-weight: bold;">Saldo</h1>
    <h2 style="font-size: 30px; font-weight: bold;">R$ 1.000</h2>
   
  </div>



<ion-card style="border-radius: 15px;">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

    <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
